* {
  margin: 0;
  box-sizing: border-box;
  color: #34170c;
  overflow-wrap: break-word;
}
:root {
  --fontatencao: "Luckiest Guy", cursive;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  color: #34170c;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
h2 {
  text-transform: uppercase;
  margin-bottom: 9px;
  font-weight: 900;
}

/* MENU PRINCIPAL */
.menuStyle nav {
  background-color: #664141;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  font-size: 18px;
}
.menuStyle a {
  color: white;
}

.logo {
  width: 94px;
}

/* menu meio */
.menuMeio {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

/*burger menu */
.itemHamburguer {
  display: none;
}

/* menu direita */
.menuDireita {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menuDireita li {
  padding-left: 10px;
}
.iconeMoedas a {
  background-color: #f9e3f6;
  padding: 12px;
  border-radius: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

/* SUB MENU */
.subMenu {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  padding-right: 20px;
  align-items: center;
}

.subMenuEsq {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.subMenuIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subMenuEsq > a,
span {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #755050;
}
.subMenuIcons div {
  border: 2px solid #664141;
  border-radius: 35px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subMenuIcons div span {
  color: #664141;
  font-size: 34px;
}

.subMenu > form > div {
  display: flex;
  align-items: center;
  width: 450px;
  background: #efeaea;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 15px;
}
.subMenu > form > div > input {
  width: 100%;
  background-color: #f0eaea;
  border: none;
}
.subMenu > form > div > span {
  font-size: 25px;
}

.subMenu form {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* PRODUTOS */
.produtos {
  margin: 40px;
}
.produtos section {
  display: flex;
  gap: 12px;
}
.produtoStyle {
  width: 175px;
  height: 120px;
  background-size: cover;
}
.produtoStyle span {
  color: white;
}
.iconImg {
  display: flex;
  background: #ef86997a;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 26px;
}
.produtosP {
  width: 80px;
  background-color: #d9a0c2bd;
  text-align: center;
  border-radius: 42px;
  padding: 20px 0;
  align-items: center;
  position: relative;
  left: 90px;
  top: -18px;
  color: #302323;
}

.nomeProduto {
  background-color: #f181857d;
  width: 175px;
  display: flex;
  height: 96px;
  text-align: center;
  align-items: center;
  margin-top: -1px;
  flex-direction: column;
  justify-content: center;
}

#primeiroProduto { background-image: url(primeiroProduto.png); }
#segundoProduto { background-image: url(segundoProduto.png); }
#terceiroProduto { background-image: url(terceiroProduto.png); }
#quartoProduto { background-image: url(quartoProduto.png); }
#quintoProduto { background-image: url(quintoProduto.png); }

/* PROMOÇÕES */
.promocoes {
  margin-left: 40px;
}
.promocoes > div {
  display: flex;
  gap: 12px;
}
.promos {
  width: 176px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.promos img {
  width: 120px;
}
.promosDiv {
  background-color: #b9d0f7;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 16px 16px 0 0;
  padding-left: 4px;
  height: 148px;
}

.promosDiv .iconpromo {
  background-color: white;
  color: #b8cef4;
  border-radius: 34px;
  font-size: 52px;
  padding: 5px;
  position: relative;
  left: 19px;
}
.spanpromo {
  background-color: white;
  border-radius: 38px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
}
.spanpromo span {
  color: #000102;
  font-family: var(--fontatencao);
}

.promoInfo {
  border: 2px solid #b8cef4;
  text-align: center;
  padding: 15px 12px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.promoInfo h6 {
  font-weight: 400;
}

/* footer */
footer img {
  height: 454px;
  object-fit: cover;
  object-position: top;
  margin: 35px 0;
}

/RESPONSIVO*/

img {
  max-width: 100%;
  height: auto;
}

/* Até 992px */
@media (max-width: 992px) {
  .subMenu {
    flex-direction: column;
    gap: 20px;
    padding-right: 0;
  }

  .subMenu > form > div {
    width: 100%;
    max-width: 500px;
  }

  .subMenu form {
    width: 100%;
    justify-content: center;
  }

  .produtos section,
  .promocoes > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .produtos, .promocoes {
    margin: 20px;
  }
}

/* Até 600px */
@media (max-width: 600px) {
  .menuStyle nav {
    flex-wrap: wrap;
  }

  /* Exibe o hambúrguer no celular */
  .itemHamburguer {
    display: block;
  }

  /* */
  .menuMeio {
    display: none;
    width: 100%;
    order: 3;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    padding: 15px 0 5px 0;
  }

  /* */
  .menuMeio.ativo {
    display: flex;
  }

  .subMenuEsq {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .subMenuIcons span {
    font-size: 12px;
  }

  .subMenuIcons div {
    width: 45px;
    height: 45px;
  }

  .subMenuIcons div span {
    font-size: 26px;
  }

  .subMenu > form > div {
    padding: 8px 12px;
  }

  .produtos h2, .promocoes h2 {
    text-align: center;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer img {
    height: 250px;
    margin: 20px 0;
  }
}
